<div class = "page-header">
  <h2> Welcome, <%= @user.first_name %> </h2>
</div>

<div class= "padding">
  <%= link_to 'Create New Receiver', new_receiver_path, :class => "btn btn-warning btn-md"  %>
</div>
<div class="row">
  <dh><h4> Gift Ideas For: </h4></dh>

  <% @user.receivers.each do |receiver| %>
    <div class="list-group-item col-sm-3"><%= link_to receiver.first_name, receiver_path(receiver)%></div>
  <% end %>
</div>

<div class = 'btn-group'>
  <%= link_to 'Back', root_path, :class => "btn btn-primary"  %>
</div>